<div class="container-header">
  <img routerLink="home" src="assets/resource/logo_congreso.png" />

  <div class="menu">
    <button mat-button routerLink="home">Inicio</button>

    <button
      mat-button
      [matMenuTriggerFor]="autores"
      #menuTrigger="matMenuTrigger"
      (mouseenter)="menuTrigger.openMenu()"
    >
      Autores &#9660;
    </button>

    <mat-menu class="autres" #autores="matMenu" [overlapTrigger]="false">
      <div class="dropdown" (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item routerLink="autores">Para expositores</button>
        <button mat-menu-item routerLink="autores">Para evaluadores</button>
        <button mat-menu-item routerLink="autores">
          {{ "Pagos" | uppercase }}
        </button>
      </div>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="eventos">Evento &#9660;</button>
    <mat-menu #eventos="matMenu">
      <button mat-menu-item routerLink="evento">Cronograma</button>
      <button mat-menu-item routerLink="evento">Expositores</button>
      <button mat-menu-item routerLink="evento">Descubriendo la Perla</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="pagos">Comercial &#9660;</button>
    <mat-menu #pagos="matMenu">
      <button mat-menu-item routerLink="pagos">
        Inscripción para empresas
      </button>
      <button mat-menu-item routerLink="pagos">Salon virtual</button>
    </mat-menu>
  </div>

  <!--Los botones del Mat-toolbar-->

  <button class="button-session" mat-raised-button routerLink="ingreso">
    Inicio de sesión 🔐
  </button>
</div>

<div class="banner">
  <img src="assets/resource/banner.jpg" />
</div>
