<mat-toolbar class="footer">
  <mat-toolbar-row>
    <div class="container">
      <div class="row">
        <div class="col-sm">Universidad Tecnologica de Pereira</div>
        <div class="col-sm">IbercTherm</div>
        <div class="col-sm">Termografia Infrarroja</div>
        <div class="col-sm">
          <a href="https://testdevdd1234.com/deploy">
            <img
              src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
              style="width: 20%"
            />
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
