<div class="container">
    <div class="titulo">
        <h1>Cronograma</h1>
    </div>
    <div class="cronograma">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="dia">
                <th mat-header-cell *matHeaderCellDef>Dia</th>
                <td mat-cell *matCellDef="let element">{{ element.dia }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Horario</th>
                <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="actividad">
                <th mat-header-cell *matHeaderCellDef>Actividad</th>
                <td mat-cell *matCellDef="let element">{{ element.actividad }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="ingreso">
                <th mat-header-cell *matHeaderCellDef>Ingreso</th>
                <td mat-cell *matCellDef="let element">{{ element.ingreso }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>







    <div class="contenedor1">
        <div class="row center-xs">
            <div class="col-12">
                <div class="box">
                    <h1>La magia de la perla</h1>
                </div>
            </div>
        </div>

        <div class="expositores">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/LMWEWrK4WCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="la-perla">
            <div class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <img id="perla" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNO6Xq0Q2VoxDncMCY4sjiLSTiUYg_QxP5jA&usqp=CAU" />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box">
                        <p style="margin-left: 14%">
                            Pereira es la ciudad capital del departamento de Risaralda, la ciudad más poblada del eje cafetero y la segunda ciudad más grande de la región Paisa Colombiana. Apodada “La querendona, trasnochadora y morena” o “La perla del otún”, Pereira cuenta con
                            una agradable clima templado gracias a su ubicación geográfica entre el cálido valle del cauca y las frías zonas montañosas de la cordillera central de Colombia. La ciudad tiene todas las prestaciones que una ciudad moderna
                            puede ofrecer como: hotelería, Diversos medios de transportes, infraestructura vial, hospitales y seguridad.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <img id="perla" src="https://i.ytimg.com/vi/8XyFDAqpMOw/maxresdefault.jpg" />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box">
                        <p style="margin-left: 14%">
                            La cultura pereirana tiene sus raíces en la cultura cafetera de la región, lo cual hace parte del atractivo turístico de la ciudad y de sus zonas rurales, donde pueden observarse hermosas residencias construidas con el característico estilo colonial cafetero.
                            También, en el ámbito urbano, Pereira cuenta con múltiples espacios deportivos y de esparcimiento para deleitarse con los servicios que la ciudad puede ofrecer.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <img id="perla" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNO6Xq0Q2VoxDncMCY4sjiLSTiUYg_QxP5jA&usqp=CAU" />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box">
                        <p style="margin-left: 14%">
                            Sin quedarse atrás en el desarrollo tecnológico y comercial que caracteriza al siglo XXI, Pereira ofrece a sus ciudadanos y visitantes una inmensa variedad de productos y servicios debido al carácter comercial de la ciudad, al ubicarse en el centro del
                            triángulo de oro colombiano conformado por las ciudades de Bogotá, Medellín y Calí; La Perla del otún constituye un punto intermedio en las principales rutas comerciales del país, lo que le vale otro dos de sus apodos “La ciudad
                            sin puertas” y “La capital del eje”.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <img id="perla" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNO6Xq0Q2VoxDncMCY4sjiLSTiUYg_QxP5jA&usqp=CAU" />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box">
                        <p id="tex">
                            En Pereira, usted podrá disfrutar de una diversa gastronomía regional, platos como: La bandeja Paisa, El Mondongo, ajiaco, Sancocho, Tamales, Patacones, Arepas, buñuelos y Mazamorra. Le brindarán una experiencia inolvidable. Al igual que visitar el parque
                            natural de la Laguna de Otún, las aguas termales o las diferentes zonas de camping, centros comerciales, parques acuáticos presentes a las afueras de la ciudad. La ciudad te recibe con los brazos abiertos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>