<div class="container">
  <div>
    <!--Contenedor del evento-->
    <div class="contenedor">
      <div class="row center-xs">
        <div class="col-12">
          <div class="box">
            <h1>Evento</h1>
          </div>
        </div>
      </div>

      <p>
        Desde nuestros grupos de investigación GIMM (Grupo de investigación en
        propiedades magnéticas y magneto) y GEF (Grupo de Electrofisiología)
        adscritos a la Faculta de Ciencias Básicas de la Universidad Tecnológica
        de Pereira, tenemos el placer de darles la bienvenida e invitarles a la
        CONFERENCIA IBEROAMERICANA DE TERMOGRAFÍA INFRARROJA que se llevará a
        cabo del 12 al 15 de octubre de 2022, con el acompañamiento de un comité
        organizador internacional. Una conferencia influyente para los
        profesionales, estudiantes y aficionados, brindándoles una oportunidad
        para adquirir nuevos conocimientos, así como intercambiar experiencias y
        difundir información científica en relación a la termografía infrarroja
        en Colombia y en Iberoamérica.
      </p>
    </div>
  </div>
  <!--Contenedor de nota de los organizadores-->
  <div class="contenedor">
    <div class="row center-xs">
      <div class="col-12">
        <div class="box">
          <h1>Nota de los organizadores</h1>
        </div>
      </div>
    </div>

    <div>
      <p>
        La termografía infrarroja y su versatilidad permite ser aplicada en
        diferentes áreas como son: las ciencias básicas, ciencias de la salud,
        ingeniería, industrias, entre otras. Favoreciendo la asistencia al
        evento de profesionales, estudiantes y aficionados, haciendo posible la
        adaptación de esta técnica en distintas áreas. Un evento iberoamericano
        que concede la fomentación de desarrollos tecnológicos y científicos de
        los grupos de investigación, individual y construcción de redes de
        conocimiento.
        El evento denominado Conferencia Iberoamericana de
        termografía Infrarroja, se realizará de forma presencial -
        semipresencial o (explicación) en las instalaciones de la UTP entre el
        12 al 15 de octubre de 2022.
      </p>
    </div>
  </div>

  <!--Contenedor de los logos del congreso-->
  <div class="contenedorimg">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="https://www.utp.edu.co/" target="_blank">
            <img src="assets/Logo_U.T.P.png" style="height: 70%; width: 55%" /></a>
        </div>
        <div class="col-sm">
          <a href="https://gimm-gef.co/gimm" target="_blank">
            <img src="assets/gimm.png" /></a>
        </div>
        <div class="col-sm">
          <a href="https://gimm-gef.co/gef" target="_blank"><img src="assets/logo_gef.png" style="width: 70%" /></a>
        </div>
        <div class="col-sm">
          <img src="assets/logo_congreso.png" style="height: 70%; width: 55%" />
        </div>
      </div>
    </div>
  </div>

  <!--Contenedor del comite organizador-->

  <div class="contenedor" style="margin-bottom: 5%;">
    <div class="comiteT" style="text-align: center">
      <h1>Comite organizador</h1>
    </div>
    <!-- ngFor del comite organizador-->
    <div class="col-xs-12">
      <div class="container" style="margin-bottom: 5%;">
        <div *ngFor="let organizador of organizadores" class="card">
          <mat-card style="height: 430px;">
            <mat-card-title>{{ organizador.name }}</mat-card-title>
            <img mat-card-image src="{{ 'assets/' + organizador.image }}" />
            <mat-card-content>{{ organizador.descripcion }}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor">
    <div class="col-xs-12" style="text-align: center; ">
      <h1>Tematicas</h1>

      <img src="assets/tema.PNG" style="height: 70%; width: 55%" />
    </div>

  </div>


  <!--  
          <div class="contenedor" style="text-align: center">

            <div *ngFor="let tema of Tematicas" class="tematica">
              <div>
                <h2>{{ tema.name }}</h2>
              </div>
              <img mat-card-image src="{{ 'assets/' + tema.image }}" />
            </div>
          </div>
        -->
  <!-- ngFor de las tematicas-->






</div>
