.container {
    width: 100%;
    margin-top: 70px;
}

.container img {
    width: 64%;
    height: 200px;
}

.contenedorimg {
    margin: 50px;
    text-align: center;
}

.card {
    width: 30%;
    height: 30%;
    margin: 1%;
    box-shadow: 27px 27px 20gpx -9px rgba(0,0,0,0.75);
}

.card mat-card-content {
    text-align: justify;
}

.tematica {
    width: 40%;
    height: 50%;
    float: left;
    margin: 2%;
    margin-left: 5%;
}

.conte {
    position: relative;
}

.comite-nacional {
    margin: 2px;
}