<div class="container">
  <div>
    <!--Contenedor del evento-->
    <div class="contenedor">
      <div class="row center-xs">
        <div class="col-12">
          <div class="box">
            <h1>Pagina Comercial</h1>
          </div>
        </div>
      </div>

      <p>
        La primera conferencia iberoamericana de termografía infrarroja tiene la
        finalidad de reunir a todas las personas y empresas interesadas en
        exponer estudios y/o actividades comerciales en el área de termografía
        infrarroja, donde se implemente esta técnica como herramienta en las
        etapas de elaboración de productos o prestación de servicios. Se contará
        con la presencia de diferentes exponentes Nacionales e Internacionales
        en el área que explicarán al público sus más recientes investigaciones y
        como la termografía infrarroja se cada vez más se consolida como una
        tecnología capaz de expandir o profundizar el conocimiento en los
        diferentes ámbitos científicos, tecnológicos, industriales y
        comerciales. También, algunos estudiantes pertenecientes al comité
        organizador del evento en calidad de ponentes darán a conocer los
        resultados de proyectos formativos de investigación de financiación
        estatal enfocados en la implementación de termografía infrarroja en el
        área de la salud, detallando: los procedimientos, instrumentos, técnicas
        implementadas para llevar a cabo dichas investigaciones y conclusiones
        con el objetivo de mostrar sus resultados a un público experto o
        interesado en el área de termografía infrarroja para el debate y
        divulgación de nuevos conocimientos. En la conferencia. Además de
        mostrar las investigaciones en curso y avances científicos, se pretende
        brindar a las nuevas generaciones de ingenieros y científicos la
        oportunidad de adquirir conocimientos en el área de la termografía
        infrarroja y sus aplicaciones en el mundo académico e industrial. Usted
        y/o su organización podrán participar como ponente o participante de
        este evento en calidad de estudiante, profesional o empresa.
      </p>
    </div>
  </div>

<div class="container" style="width: 50%;">

    <div class="row">
      <div class="col-xs-12">
        <h1 style="text-align: center;margin-top: 5%;">Formulario de Pre Inscripción para Empresas </h1>
      </div>

      <div class="col-xs-12">


        <div class="contenedor">
            
          <div class="titulos "> <h2> Nombre de la empresa</h2>
            </div>
    
    
            
            <div class="row" style="text-align: center;">
    
                  <!-- Datos personales-->
        
    
                <div class="col-xs-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nombre de la empresa</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
    
                <div class="col-xs-6" style="text-align:left;">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>ID empresa</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
    
        
            </div>
    
        </div>
    
    
    
    
        <div class="contenedor">
            
            <div class="titulos "> <h2> ¿En que area trabaja?</h2>
                </div>
        
                
                <div class="row" style="text-align: center;">
        
                    <!-- Input de en calidad de que te inscribiras -->
            
        
                    <div class="col-xs-6">
    
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Area en la que trabaja</mat-label>
                      <input matInput>
                    </mat-form-field>
                    </div>
    
                </div>
        
          </div>
    
    
        <div class="contenedor">
            
            <div class="titulos "> <h2> Ciudad</h2>
                </div>
        
                
                <div class="row" style="text-align: center;">
        
                    <!-- Input de Documento-->
            
        
                    <div class="col-xs-6">
                    
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Ciudad</mat-label>
                      <input matInput>
                    </mat-form-field>
    
    
    
    
    
                    </div>
    
                </div>
        
        </div>
    
    
    
        <div class="contenedor">
            
        <div class="titulos "> <h2> ¿Como podemos contactarte?</h2>
            </div>
    
            
        <div class="row" style="text-align: center;">
    
                <!-- Input de Documento-->
        
    
                <div class="col-xs-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
    
                
                <div class="col-xs-6" style="text-align:left;">
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Telefono fijo</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            
            <div class="col-xs-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
          </div>
        </div>
    
    
        <div style="text-align: center;margin-bottom: 10%;">
            <button mat-raised-button>Enviar</button>
    
        </div>
    



      </div>




    </div>
        




    </div>























  
</div>
