table {
    width: 85%;
    border: 1px;
    border-style: solid;
    border-color: blue;
    text-align: center;

    
  }

  table th {
    font-style: italic;
    text-align: center;
  }

  


  .cronograma{
      margin-left: 10%;
  }

  .titulo{
      margin: 5%;
     text-align: center;
  }


  .expositores{
    width: 80%;
    height: 50%;
    margin: 6%;
}


.expositores img {
    width: 50%;
    height: 50%;
    margin-bottom: 4%;
    margin-left: 28%;
    margin-top: -5%;

}


.expositores p {
 text-align: justify;
}

.contenedor button{
    color:aliceblue;
    background-color: #fc9f49;
}


.col-xs-6 {
    flex-basis: 50%;
  }

  .la-perla img{
    width: 80%;
    height: 80%;


  }

  .la-perla{
      width: 80%;
      height: 50%;
      margin-top: 5%;
  }

  #perla{
      margin-left: 20%;
      margin-top: 2%;
  }

  #tex{
    margin-left: 14%;
    margin-top: 6%;
    margin-bottom: 20%;
  }

  .contenedor1{
      border:1px;
      border-style: solid;
      border-color: blue;

    }