<div class="container" style="width: 50%;">


  <h1 style="text-align: center;margin-top: 5%;">Formulario de registro </h1>

  <div class="contenedor">

    <div class="row" style="text-align: center;">

      <!-- Input de Documento-->


      <div class="col-xs-6">
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="col-xs-6">

        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>Apellido</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-6">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>Numero de identificación</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-6">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-12">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill"
          style="margin-top: -9%;width: 50%;margin-left: -38%;">
          <mat-label>correo electronico</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-6">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>Genero</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="col-xs-6">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
          <mat-label>telefono</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-12">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill"
          style="margin-top: -9%;width: 50%;margin-left: -38%;">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>

      <div class="col-xs-12">

        <h2> </h2>
        <mat-form-field class="example-full-width" appearance="fill"
          style="margin-top: -9%;width: 50%;margin-left: -38%;">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>

      <div class="col-xs-12">
        <button mat-raised-button [routerLink]="['/']">Registrarse</button>
      </div>





    </div>

  </div>

</div>
