

<div class="container">


    <mat-card  class="card" style="margin-top: 5%;margin-bottom: 5%;" >


        <div class="contenedor" style="background-color:white; margin-bottom: 5%;">
        
                <div class="col-xs-12" style="margin-top: 5%;margin-bottom: 5%;">
                    <h1 style="text-align: center; margin-top: 5%">Login </h1>
                    
                </div>
    
            <div class="row" style="text-align: center;">
    
                 <!-- Input de Documento-->
        
    
                <div class="col-xs-12">
                
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="ejemplo@gmail.com">
                    </mat-form-field>
            
                </div>
            
                <div class="col-xs-12">
    
                    <h2> </h2>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Ex. Pizza" type="password" value="12345">
                    </mat-form-field>
                </div>
        

                <div class="col-xs-12" style="margin-top: 2%;margin-bottom: 5%;">
    
                    <button mat-raised-button style="margin-right: 2%;">Ingresar</button>
                    <button mat-raised-button [routerLink]="['/registro']">Registrarte</button>
                </div>

            </div>
    
      
    
        </div>
    




    </mat-card>




   
</div>